@font-face
{
	font-style: normal;
	font-family: "Microsoft YaHei";
	src: local("微软雅黑");
}

select, button
{
	font-family: inherit;
}

select:visited, input:active
{
	outline: none;
}

#mainContent
{
	margin-left: 260px;
	height: 100%;
	min-width: 900px;
	background-color: #D3D3D3;
	margin-top: 85px;
	padding-top: 15px;
}

#section-1 {
	background-color: lightgray;
	margin-left: auto;
	margin-right: auto;
	width: 890px;
	font-size: 12px;
}
div[id^="part-"]{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div[id^="part-"]:last-child{
	margin-bottom: 0;
}
div[id *= "item-"]{
	display: inline-block;
	height: 100%;
	text-align: center;
}
#item-1{
	position: relative;
	height: 100%;
	bottom: 34px;
	width: 147px;
	left: 10px;
	font-family: inherit;
}
#item-2{
	width: 157px;
	position: relative;
	bottom: 5px;
	left: 30px;

}
#item-2 div:first-child,#item-4 .first-row{
	margin-bottom: 5px;
}
#item-3{
	position: relative;
	width: 27px;
	height: 100%;
	left: 30px;
}
#item-3 img{
	position: relative;
	top: 10px;
}
#item-3 span{
	position: relative;
	top: -18px;
	left: 5px;
}
#item-4{
	width: 300px;
	position: relative;
	top: -4px;
	left: 50px;
}
#item-4 div[class $="row"] div{
	display: inline-block;
	
}
.second-row{
	position: relative;
	right: 0px;
}
#item-1 select,.first-row select,.second-row div:first-child select{
	width: 70px;
	height: 25px;
}
#item-2 select,.first-row input, .second-row div:last-child select{
	width: 122px;
	height: 25px;
}
#part-1{
	height: 70px;
	position: relative;
	background-color: white;
	padding-top: 24px;
	color: grey;
	font-family: 'simhei';
	margin-bottom: 10px;
}
#part-1 select,#part-1 input{
	color: black;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #cbcccc;
	outline: none;
}

#part-1 select
{
	background-image: url(../image/select-1.png);
	background-position: right 10px top 10px;
	background-repeat: no-repeat;
	}

#part-1 input{
	appearance: text;
	height: 23px;
}
#part-1 button{
	width: 60px;
	height: 30px;
	position: relative;
	bottom: 14px;
	left: 70px;
	background-color: blue;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: none;
}
#part-2{
	position: relative;
	height: 65px;
	font-family: 'Microsoft YaHei';
	margin-bottom: 20px;
}
.time,div.prev,div.next,#historyQuery.btn{
	height: 100%;
	display: inline-block;
	margin-right:0px;
	background-color: white;
	float: left;
	margin: 0 2px;
}	

.time{
	width: 110px;
	position: relative;
	cursor: pointer;
}
.time img{
	float: left;
	position: absolute;;
	top: 31px;
	left : 14px;
}
.time  div:nth-child(2){
	position: absolute;
	margin: 0 auto;
	top: 17px;
	left: 30px;
}
.time  div:nth-child(3){
	position: absolute;
	top: 35px;
	left: 32px;
	font-size: 21px;
	color: darkorange;
	font-weight:bolder;
}
.time:hover,.prev:hover,.next:hover,.btn:hover{
	border-top: 4px solid blue;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.prev,.next{
	width: 25px;
}
.prev a,.next a{
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
}
.prev img, .next img{
	position: absolute;
	top: 16px;
}

.btn
{
	cursor: pointer;	
}

#historyQuery.btn{
	position: relative;
	display: inline-block;
	width: 148px;
	background-color: white;
	margin-right: -20px;
}
.btn a{
	text-decoration: none;
	color: black;
	position: absolute;
	left: 70px;
	top: 25px;
}
.btn img{
	position: absolute;
	top: 15px;
	left: 20px;
}
#part-3{
	height: 90px;
	width: 100%;
}

#part-3-container
{
	height: 100px;
	padding-left: 2px;
}

#part-3 h4
{
	font-weight: normal;
	font-size: 12px;
	font-family: 'Microsoft YaHei';
	margin: 0px;
}

.statistics{
	display: inline-block;
	position: relative;
	top: 4px;
	background-color: white;
	width: 196px;
	margin-right: 30px;
	height: 68px;
	font-family: 'Microsoft YaHei';
	border-radius:3px;
	-moz-border-radius:3px; /* Old Firefox */
}

.statistics:last-child{
	margin-right: 0px;

}
.statistics div{
	margin-top: 14px;
	margin-left: 10px;
}

.statistics div:nth-child(2){
	font-size: 10px;
	color: gray;
}
.square{
	height:45px;
	width: 64px;
	position: absolute;
	bottom: 10px;
	left: 110px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	opacity: 0.6;
}
#square1{
	border-left: 3px solid green;
}
#square1 div:last-child{
	background-color: lightgreen;
}
#square2{
	border-left: 3px solid blue;
}
#square2 div:last-child{
	background-color: lightblue;
}
#square3{
	border-left: 3px solid red;
}
#square3 div:last-child{
	background-color: red;
}
#square4{
	border-left: 3px solid lightgreen;
}
#square4 div:last-child{
	background-color: lightgreen;
}

/*section-2*/

#section-2
{
	margin-left: 60px;
	width: 890px;
	margin-left: auto;
	margin-right: auto;
}

.wrap {
	width: 100%;
	/*height: 740px;*/
	overflow: hidden;
	margin-top: 15px;
	padding-top: 1px;
}

.row-panel {
	margin-bottom: 10px;
}

.panel-shadow {
	box-shadow: 0 0 1px 1px #817e8a;
}

.panel {
	display: inline-block;
	overflow: hidden;
	height: 355px;
	border-radius: 4px;
	font-size: 12px;
	background: #fff;
	/*margin: 5px;*/
	font-family: "Microsoft YaHei";
	/*内部元素等宽会超过border-radius  使用overflow:hidden*/
}

.lg-panel {
	width: 528px;
}

.sm-panel {
	width: 348px;
}

.panel-header {
	height: 40px;
	line-height: 40px;
	padding-left: 18px;
	background-color: #F4F5F6;
	color: #AAAAAA;
}

.panel-left
{
	margin-right: 10px;
	margin-left: 2px;
}

/*tab两种实现 一种纯css+hover 一种JS修改CLASS*/
.panel-tabs {
	margin-top: 12px;
	margin-left: 20px;
}

.panel-tab {
	color: #535353;
	display: block;
	position: relative;
}

.tab {
	position: absolute;
	width: 85px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: #ededf0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 3;
	cursor: pointer;
}

.tab-content {
	display: none;
	z-index: -1;
	position: absolute;
	top: 26px;
	width: 490px;
	height: 250px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.tab1 {
	margin-left: 0;
}

.tab2 {
	margin-left: 90px;
}

.tab3 {
	margin-left: 180px;
}

.tab4 {
	margin-left: 270px;
}

.tab5 {
	margin-left: 360px;
}

.panel-tab.active {
	position: relative;
}

.panel-tab.active .tab, .tab:hover {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
}

.tab:hover + .tab-content, .panel-tab.active .tab-content {
	display: block;
	z-index: 1;
}

.tab-content table {
	border: 1px solid #e3e3e3;
	margin: 0 auto;
	margin-top: 28px;
	font-family: SimSun;
}

.tab-content table tr td {
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	line-height: 12px;
	padding: 8px 10px 8px 15px;
	background-color: #FFFFFF;
}

.tab-content table tr td:hover {
	background: #f4f5f6;
	cursor: pointer;
}

.tab-content table tr td:last-child {
	border-right: none;
}

.tab-content table tr:last-child td {
	border-bottom: none;
}

.paper {
	margin: 0 auto;
	width: 280px;
}

.paper .row {
	border-bottom: 1px solid #c3c2c2;

}

.paper .header {
	color: #c3c2c2;
	line-height: 20px;
	height: 20px;
	padding-top: 10px;
}

.paper .content {
	padding-bottom: 10px;
}

.paper .header, .paper .content {
	padding-left: 10px;
}

.paper .price {
	display: inline-block;
}

.paper .leader {
	display: inline-block;
	border-left: 1px solid #c3c2c2;
	margin-left: 48px;
}

.paper .detail {
	height: 140px;
}

.paper .form {
	height: 14px;
	line-height: 14px;
}

.paper .form input {
	display: none;
}

.paper .form #checkbox + label {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	background: #d5d5d5;
	margin-top: 14px;
}

.paper .form #checkbox:checked + label {
	background: #d5d5d5 url("../image/check.png") no-repeat;

}

.paper .form .header {
	display: inline-block;
}

.paper .btn {
	width: 50px;
	height: 24px;
	line-height: 24px;
	background: #388ac1;
	color: #fff;
	margin-left: 130px;
	border: none;
}

.calendar {
	font-family: SimHei;
}
.calendar .date{
	width: 310px;
	margin: 0 auto;
	border-bottom: 1px solid #b2cfed;
	padding: 10px;
}
.calendar .date>div{
	position: relative;
}
.calendar .date select{
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 20px;
	padding-left: 5px;
	font-family: SimHei;
	font-size: 12px;
	border: 1px solid #cbcccc;
	background: url("../image/select.png") no-repeat right  6px top 6px;
}
.date option {
	min-height: 1.0em;
}
.date .year{
	width: 64px;
}
.date .v{
	position: absolute;
	width: 1px;
	height: 18px;
	background: #f6f7f8;
	right: 18px;
	top: 1px;
}
.calendar .date .month{
	width: 84px;
	padding-left: 20px;
}

.date .day {
width: 74px;
}
.date .btn{
	width: 64px;
	height: 18px;
	text-align: center;
	line-height: 19px;
	border: 1px solid #cbcccc;
}
.calendar .date div{
	display: inline-block;
}
.calendar table {
	margin: 0 auto;
	color: #323333;

}

.calendar tr td {
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 1px;
}
.calendar .weekend, .calendar .festival {
	color: #c9161d;
}

.calendar tr td .td-wrap div{
	line-height: 14px;
	height: 14px;
	width: auto;
}
.calendar .tag .td-wrap {
	border: 1px solid #ff0;
	padding: 4px;
}

.calendar tr:first-child td {
	border-bottom: 1px solid #e3e3e4;
	height: 30px;
}
.charts{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	/*outline: 1px solid #cfcfd0;*/
	border-left: 1px solid #cfcfd0;
	border-top: 1px solid #cfcfd0;
	width: 478px;
	font-family: 'simhei';

}
.charts .header,.charts .chart-row{
	position: relative;
	width: 478px;
	height: 27px;
	line-height: 26px;
	overflow: hidden;
}
.charts .chart-row:hover{
	background: #f4f5f6;
}
.charts .place{

	float: left;
	width: 69px;
	/*outline: 1px solid #cfcfd0;*/
	border-right: 1px solid #cfcfd0;
	border-bottom: 1px solid #cfcfd0 ;
}
.charts .brand{
	float: left;
	width: 90px;
	outline: 1px solid #cfcfd0;
	border-right: 1px solid #cfcfd0;
	border-bottom: 1px solid #cfcfd0 ;
}
.charts .exponent{
	float: left;
	width: 290px;
	/*outline: 1px solid #cfcfd0;*/
	border-right: 1px solid #cfcfd0;
	border-bottom: 1px solid #cfcfd0 ;
	text-align: left;
	padding-left: 26px;
}

.charts .num{
	display: inline-block;
}
.charts .bg{
	display: inline-block;
	width: 168px;
	height: 4px;
	background: #dcdcdc;
	position: relative;
	margin-bottom: 2px;
	margin-left: 18px;
}
.charts .bg div{
	position: absolute;
	height: 4px;
}

.n1{
	width: 140px;
	background: #ed6e52;
}
.n2{
	width: 120px;
	background: #ef8150;
}
.n3{
width: 104px;
	background: #f19f4f;
}
.a3{
	background: #7fcbf0;
}
.n4{
	width: 96px;
}
.n5{
	width: 85px;
}
.n6{
	width: 79px;
}
.n7{
	width: 74px;

}
.n8{
	width: 63px;
}
.n9{
	width: 58px;
}
.n10{
	width: 54px;
}