* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 902px;
    height: 740px;
    background: #eee;
    padding: 10px;
    overflow: hidden;
}

.row-panel {
}

.panel-shadow {
    box-shadow: 0 0 1px 1px #817e8a;
}

.panel {
    display: inline-block;
    overflow: hidden;
    height: 355px;
    border-radius: 4px;
    font-size: 12px;
    background: #fff;
    margin: 5px;
    font-family: "Microsoft YaHei";
    /*内部元素等宽会超过border-radius  使用overflow:hidden*/
}

.lg-panel {
    width: 530px;
}

.sm-panel {
    width: 350px;
}

.panel-header {
    height: 40px;
    line-height: 40px;
    padding-left: 18px;
    background: #f4f5f6;
    color: #aaaaaa;
}

/*tab两种实现 一种纯css+hover 一种JS修改CLASS*/
.panel-tabs {
    margin-top: 12px;
    margin-left: 20px;
}

.panel-tab {
    color: #535353;
    display: block;
    position: relative;
}

.tab {
    position: absolute;
    width: 85px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #ededf0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 3;
}

.tab-content {
    display: none;
    z-index: -1;
    position: absolute;
    top: 26px;
    width: 490px;
    height: 250px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.tab1 {
    margin-left: 0;
}

.tab2 {
    margin-left: 90px;
}

.tab3 {
    margin-left: 180px;
}

.tab4 {
    margin-left: 270px;
}

.tab5 {
    margin-left: 360px;
}

.panel-tab.active {
    position: relative;
}

.panel-tab.active .tab, .tab:hover {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tab:hover + .tab-content, .panel-tab.active .tab-content {
    display: block;
    z-index: 1;
}

.tab-content table {
    border: 1px solid #e3e3e3;
    margin: 0 auto;
    margin-top: 28px;
    font-family: SimSun;
}

.tab-content table td {
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 12px;
    padding: 8px 10px 8px 15px;
}

.tab-content table td:hover {
    background: #f4f5f6;
}

.tab-content table td:last-child {
    border-right: none;
}

.tab-content table tr:last-child td {
    border-bottom: none;
}

.paper {
    margin: 0 auto;
    width: 280px;
}

.paper .row {
    border-bottom: 1px solid #c3c2c2;

}

.paper .header {
    color: #c3c2c2;
    line-height: 20px;
    height: 20px;
    padding-top: 10px;
}

.paper .content {
    padding-bottom: 10px;
}

.paper .header, .paper .content {
    padding-left: 10px;
}

.paper .price {
    display: inline-block;
}

.paper .leader {
    display: inline-block;
    border-left: 1px solid #c3c2c2;
    margin-left: 48px;
}

.paper .detail {
    height: 140px;
}

.paper .form {
    height: 14px;
    line-height: 14px;
}

.paper .form input {
    display: none;
}

.paper .form #checkbox + label {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    background: #d5d5d5;
    margin-top: 14px;
}

.paper .form #checkbox:checked + label {
    background: #d5d5d5 url("../image/check.png") no-repeat;

}

.paper .form .header {
    display: inline-block;
}

.paper .btn {
    width: 50px;
    height: 24px;
    line-height: 24px;
    background: #388ac1;
    color: #fff;
    margin-left: 130px;
    border: none;
}

.calendar {
    font-family: SimHei;
}
.calendar .date{
    width: 310px;
    margin: 0 auto;
    border-bottom: 1px solid #b2cfed;
    padding: 10px;
}
.calendar .date>div{
    position: relative;
}
.calendar .date select{
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    padding-left: 5px;
    font-family: SimHei;
    font-size: 12px;
    border: 1px solid #cbcccc;
    background: url("../image/select.png") no-repeat right  6px top 6px;
}
.date option {
    min-height: 1.0em;
}
.date .year{
    width: 64px;
}
.date .v{
    position: absolute;
    width: 1px;
    height: 18px;
    background: #f6f7f8;
    right: 18px;
    top: 1px;
}
.calendar .date .month{
    width: 84px;
    padding-left: 20px;
}

.date .day {
width: 74px;
}
.date .btn{
    width: 64px;
    height: 18px;
    text-align: center;
    line-height: 19px;
    border: 1px solid #cbcccc;
}
.calendar .date div{
    display: inline-block;
}
.calendar table {
    margin: 0 auto;
    color: #323333;

}

.calendar td {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 1px;
}
.calendar .weekend, .calendar .festival {
    color: #c9161d;
}

.calendar td .td-wrap div{
    line-height: 14px;
    height: 14px;
    width: auto;
}
.calendar .tag .td-wrap {
    border: 1px solid #ff0;
    padding: 4px;
}

.calendar tr:first-child td {
    border-bottom: 1px solid #e3e3e4;
    height: 30px;
}
.charts{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    /*outline: 1px solid #cfcfd0;*/
    border-left: 1px solid #cfcfd0;
    border-top: 1px solid #cfcfd0;
    width: 478px;
}
.charts .header,.charts .chart-row{
    position: relative;
    width: 478px;
    height: 27px;
    line-height: 26px;
    overflow: hidden;
}
.charts .chart-row:hover{
    background: #f4f5f6;
}
.charts .place{

    float: left;
    width: 69px;
    /*outline: 1px solid #cfcfd0;*/
    border-right: 1px solid #cfcfd0;
    border-bottom: 1px solid #cfcfd0 ;
}
.charts .brand{
    float: left;
    width: 90px;
    outline: 1px solid #cfcfd0;
    border-right: 1px solid #cfcfd0;
    border-bottom: 1px solid #cfcfd0 ;
}
.charts .exponent{
    float: left;
    width: 290px;
    /*outline: 1px solid #cfcfd0;*/
    border-right: 1px solid #cfcfd0;
    border-bottom: 1px solid #cfcfd0 ;
    text-align: left;
    padding-left: 26px;
}

.charts .num{
    display: inline-block;
}
.charts .bg{
    display: inline-block;
    width: 168px;
    height: 4px;
    background: #dcdcdc;
    position: relative;
    margin-bottom: 2px;
    margin-left: 18px;
}
.charts .bg div{
    position: absolute;
    height: 4px;
}

.n1{
    width: 140px;
    background: #ed6e52;
}
.n2{
    width: 120px;
    background: #ef8150;
}
.n3{
width: 104px;
    background: #f19f4f;
}
.a3{
    background: #7fcbf0;
}
.n4{
    width: 96px;
}
.n5{
    width: 85px;
}
.n6{
    width: 79px;
}
.n7{
    width: 74px;

}
.n8{
    width: 63px;
}
.n9{
    width: 58px;
}
.n10{
    width: 54px;
}



