*{
    padding : 0;
    margin : 0;
}
body{
    background-color : #dddddd;
    padding : 40px;
}
.imgFrame{
    box-sizing: border-box;
    margin-bottom : 20px;
    overflow: hidden;
    box-shadow: 10px 10px 20px 4px #aeaeae;
    position : relative;
    margin : 20px auto;
    text-align : center;
}

.imgFrame >div{
    position : absolute;
    background-position : center;
    background-size: cover;
    background-repeat : no-repeat;
    background-position : 50% 50%;
}
.imgFrame >div:hover{
    box-sizing: border-box;
    z-index : 22;
    border : 20px solid #ffffff;
    border-bottom : 50px solid #ffffff;
    transition : all .2s linear;
    transform: translate3d(0,0,0);
    box-sizing : border-box;
}
.imgFrame >div:hover:after{
    content: attr(data-src) ;
    color: #dddddd;
    font-weight: 800;
    font-family: 'Microsoft Yahei';
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;

}
.imgFrame2 div:first-of-type{
    -webkit-clip-path: polygon(0 0, 66.666666% 0, 33.3333333% 100%, 0% 100%);
    clip-path: polygon(0 0, 66.666666% 0, 33.3333333% 100%, 0% 100%);
}
.imgFrame2 div:last-child{
    top : 0;
    right : 0;
    -webkit-clip-path: polygon(66.66666% 0, 100% 0, 100% 100%, 33.33333% 100%);
    clip-path: polygon(66.66666% 0, 100% 0, 100% 100%, 33.33333% 100%);
}
.imgFrame2 div:first-of-type:hover:after{
    text-align : left;
}
.imgFrame3 div:nth-of-type(2){
    top : 0;
    right : 0;
}
.imgFrame3 div:nth-of-type(3){
    bottom : 0;
    right : 0;
}
.imgFrame4 div:nth-of-type(2){
    top : 0;
    right : 0;
}
.imgFrame4 div:nth-of-type(3){
    bottom : 0;
    left : 0;
}
.imgFrame4 div:nth-of-type(4){
    bottom : 0;
    right : 0;
}
.imgFrame5 div:nth-of-type(2){
    top : 0;
    right: 0;
}
.imgFrame5 div:nth-of-type(3){
    bottom : 0;
    right: 0;
}
.imgFrame5 div:nth-of-type(4){
    bottom : 0;
    left : 33.333333333333%;
}
.imgFrame5 div:nth-of-type(5){
    bottom : 0;
    left: 0;
}
.imgFrame6 div:nth-of-type(2){
    top : 0;
    right :0;
}
.imgFrame6 div:nth-of-type(3){
    top : 33.333333333333%;
    right :0;
}
.imgFrame6 div:nth-of-type(4){
    bottom  : 0;
    right :0;
}
.imgFrame6 div:nth-of-type(5){
    bottom : 0;
    right :33.33333333333%;
}
.imgFrame6 div:nth-of-type(6){
    bottom : 0;
    left :0;
}