/*reset*/
* {
    margin: 0;
    padding: 0;
}

a, a:visited, a:link {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

input:focus, button:focus {
    outline: none;
}

input {
    border: none;
}

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    /*将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/**/
html {

}

body {
    font-family: Microsoft YaHei;
    font-size: 14px;
    min-width: 1280px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
}

/*Head 部分*/
header {
    width: 100%;
    height: 56px;
    margin: 0 auto;
}

header h1 {
    position: relative;
    display: inline-block;
    color: #000;
    font-family: SimHei;
    font-size: 21px;
    height: 56px;
    line-height: 56px;
}

header .logo {
    position: relative;
    display: inline-block;;
    line-height: 30px;
    height: 30px;
}

.logo .h-icon {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 59px;
    margin-right: 12px;
    background: url("../image/h-icon.png") no-repeat;
}

header nav {
    position: relative;
    display: inline-block;
    line-height: 56px;
    float: right;
}

nav a {
    display: inline-block;
    color: #787b83;
    height: 56px;
    width: 64px;
    margin: 0 13px;
    text-align: center;
}

nav a:first-child {
    margin-left: 0;
}

nav a:hover {
    color: #e74f4d;
    height: 52px;
    margin-bottom: -4px;
    border-bottom: 4px solid #e74f4d;
}

.login {
    display: inline-block;
    margin-right: 59px;
    float: right;
    height: 56px;
    line-height: 56px;
}

.login a {
    color: #e74f4d;
    height: 16px;
    line-height: 16px;
    display: inline-block;
}

.l-icon {
    width: 16px;
    height: 16px;
    float: left;
    display: block;
    background: url("../image/l-icon.png");
    margin-right: 5px;
}

/*Main 部分*/
section {
    width: 100%;
    min-width: 1280px;
}

.sec-fst {
    position: relative;
    width: 100%;
    min-width: 1280px;
    height: 690px;

}

.sec-fst .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    filter: opacity(0.2);
    -webkit-filter: opacity(0.2);
}

.fst-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.sec-fst article {
}

article .title-en {
    position: absolute;
    margin-top: 230px;
    margin-left: 116px;
    width: 460px;
    font-family: "Microsoft YaHei";
    font-size: 60px;
    color: white;
    cursor: default;
}

article .title-cn {
    position: absolute;
    margin-top: 310px;
    margin-left: 124px;
    font-size: 21px;
    width: 293px;
    color: white;
    cursor: default;
}

.begin {
    position: absolute;
    height: 66px;
    width: 330px;
    margin-left: 126px;
    margin-top: 429px;
    background: #e74f4d;
}

.begin .btn {
    display: inline-block;
    height: 66px;
    line-height: 66px;
    font-size: 30px;
    text-align: center;
    color: white;
    width: 330px;
}

.sec-sec {
    background: #fff;
    width: 1280px;
    margin: 0 auto;
    height: 250px;
}

.sec-sec .sec-block {
    position: relative;
    display: block;
    float: left;
    width: 320px;
}

.sec-block img {
    margin-top: 46px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.sec-sec .title {
    margin-top: 45px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    padding: 0 80px;
    border-left: 2px solid #aba6a5;
    color: #767777;
    font-family: SimHei;
    cursor: default;
}

.sec-sec .sec-block:first-child .title {
    border-left: none;
}

.sec-trd {
    display: block;
    position: relative;
    min-width: 1280px;
    margin: 0 auto;
    height: 360px;
    background: #ededec;
}

.sec-trd img {
    position: relative;
    display: block;
    top: 89px;
    margin: 0 auto;
}

.sec-trd .title {
    text-align: center;
    display: block;
    margin: 139px auto 0 auto;
    font-size: 54px;
    cursor: default;
}

.sec-fou {
    position: relative;
    width: 100%;
    min-width: 1280px;
    height: 340px;
}

/*z-index relative计算relative的  absolute计算absolute*/
.sec-fou img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    display: block;
}

.sec-fou .mask {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #aa3433;
    filter: opacity(0.2);
    -webkit-filter: opacity(0.2);
    z-index: -1;
}

.sec-fou .title {
    display: block;
    position: relative;

    margin: 0 auto;
    text-align: center;
    /*padding-top: 53px ;*/
}

/*relative 下的top计算很有意思啊  top = 上个top+ 间距  无视了元素的高度 刷新又计算了 */
.sec-fou .title p {
    display: block;
    position: relative;
    top: 82px;
    /*margin-top: 29px;*/
    font-size: 12px;
    color: #fff;
}

.sec-fou .title .hsd {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    background: #fff;
    top: 63px;
    margin: 0 auto;
    /*margin: 10px auto 0 auto;*/
}

.sec-fou .title h3 {
    display: block;
    position: relative;
    font-weight: normal;
    font-size: 21px;
    color: #fff;
    top: 53px;
}

.sec-fou .search {
    top: 134px;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 1062px;
}

.search .select-item {
    display: block;
    float: left;
    margin: 0 14px;
}

.select-item a {
    display: block;
    width: 222px;
    height: 35px;
    background: #fff;
    line-height: 35px;
    padding-left: 13px;
    color: #a8aaaa;
}

.select-item a .down {
    float: right;
    width: 18px;
    height: 17px;
    background: #be4e48;
    margin: 9px 9px 9px 0;
    line-height: 17px;
}

.down i {
    display: block;
    width: 13px;
    height: 7px;
    background: url("../image/8.png");
    margin-left: 2px;
    margin-top: 5px;

}

.select-btn {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 35px;
    line-height: 35px;
    background: #be4e48;
    color: #fff;
    text-align: center;
}

.select-btn a {
    color: #fff;
}

.select-item .selected {
    outline: 1px #c56a5d solid;
}

.options {
    background: #e3e3e4;
    width: 235px;
    outline: solid 1px #c56a5d;
    padding-bottom: 19px;
}

.options li {
    padding-left: 32px;
    width: 203px;
    height: 26px;
    line-height: 26px;
}

.options li:hover {
    z-index: 3;
    background: #be4e48;
    color: #fff;
}

.options li i {
    display: none;
    background: url("../image/7.png");
}

.options li:hover i {
    display: block;
    width: 12px;
    height: 8px;
    float: left;
    margin-left: -21px;
    margin-top: 8px;
}

.sec-fif {
    min-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 505px;
    background: #f7f7f7;
    padding-top: 100px;
}

.activity-list {
    /*margin-top: 100px;*/
    width: 1024px;
    display: block;
    margin: 0 auto;

}

.activity-list::after {
    clear: left;
    content: ".";
    height: 0;
    display: block;
}

.activity-list li {
    display: inline-block;
    float: left;
    margin: 0 18px;
}

.activity-list li .photo {
    border: 1px solid #d9d5d4;
    border-bottom: none;
    padding: 8px;
    /*transition: margin-top 0.5s;*/

}

.ac-title {
    width: 220px;
    text-align: center;

}

.ac-title h2 {
    color: #323333;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
}

.ac-title p {
    margin-top: 10px;
    font-size: 12px;
    color: #7f7773;
}

.activity-list li:hover {
    position: relative
}

.activity-list li:hover .photo {
    z-index: 3;
    margin-top: 53px;
}

.activity-list li:hover .ac-title {
    position: absolute;
    top: 0;
}

li:hover .ac-title p {
    margin: 6px 0;
}

li:hover .ac-title h2 {
    font-size: 20px;
    letter-spacing: 30px;
    margin-top: 0;
    margin-right: -30px;
    font-weight: bold;
}

.sec-six {
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    position: relative;
}

.sec-six .bg {
    width: 66.4%;

}

.bg img {
    width: 100%;
}

.sec-six .other {
    flex: 1;
    width: 33.6%;
    padding-top: 12.65%;
}

.segment {
    display: block;;
    width: auto;

    text-align: center;
}

.segment h2 {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #323333;
    line-height: 28px;
    height: 28px;

}

.segment h2 div {
    display: inline-block;
    width: 28px;
    height: 2px;
    background: #766d6a;
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}

.segment h2 span {
    color: #e74f4d;
    font-family: SimHei;
    font-size: 24px;
    line-height: 26px;
    height: 26px;
}

.segment p {
    margin: 30px auto 0 auto;
    font-size: 12px;
    width: 288px;
    color: #c1c0c0;
    text-align: left;
    line-height: 30px;
}

.segment .btn {
    width: 104px;
    height: 32px;
    border: 1px solid #e46969;
    text-align: center;
    line-height: 32px;
    color: #e46969;
    margin: 50px auto 0 auto;
    cursor: default;
}

.list {
    margin-top: 25px;
}

.list ul {
    margin: 0 auto;
    width: 78px;
}

.list ul::after {
    display: block;
    height: 0;
    content: ".";
    clear: left;
}

.list li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #929292;
    float: left;
    margin: 0 7px;
    cursor: hand;
}

.list li:hover {
    cursor: hand;
}

.list li.selected {
    background: #929292;
}

.sec-sev {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -5px;
}

.sec-sev .bg {
    width: 33.6%;
}

.sec-sev .other {
    display: flex;
    flex-direction: row;
}

.sec-sev .other .title {
    text-align: center;
    font-family: SimHei;
    font-size: 21px;
    line-height: 32px;
}

.sec-sev .other .hsd {
    width: 30px;
    height: 2px;
    margin: 26px auto;
}

.sec-sev .other .btn {
    text-align: center;
    font-family: SimHei;
    font-size: 21px;
    border: 1px solid;
    width: 166px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;

}

.other1 {
    flex: 1;
    background: #e74f4d;
    padding-top: 20%;
}

.other2 {
    flex: 1;
    background: #fff;
    padding-top: 20%;
    position: relative
}

.other2 .tri {
    position: absolute;
    right: 0;
    margin-right: -25px;
    width: 0;
    height: 0;
    border-left: 25px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    top: 50%;
    margin-top: -12px;
}

.other1 .title {
    color: #fff;
}

.other1 .hsd {
    background: #fff;
}

.other1 .btn {
    color: #fff;
    border: #fff;
}

.other2 .title {

}

.other2 .hsd {
    background: #abaaaa;
}

.other2 .btn {

    color: #e74f4d;
    border: #e74f4d;
}

.sec-sev .other {
    width: 66.4%;

}

.sec-eit {
    min-width: 1280px;
    margin: 0 auto;
    width: 100%;
    font-family: SimHei;

}

.sec-eit .title {
    padding-top: 118px;
    margin: 0 auto;
    text-align: center;
}

.sec-eit .title h2 {
    font-size: 21px;
}

.sec-eit .title .hsd {
    width: 30px;
    height: 2px;
    background: #e74f4d;
    margin: 11px auto 13px auto;
}

.sec-eit .title p {
    font-size: 12px;
    color: #aaaaaa;
}

.sec-eit .content {
    height: 282px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 111px;
    padding-bottom: 165px;
}

.treaty {
    display: block;
    float: left;
    width: 290px;

}

.treaty h2 {
    font-size: 14px;
    color: #595757;
    margin-bottom: 20px;
}

.treaty p {
    font-family: Arial;
    color: #9a9b9b;
    font-size: 12px;
    line-height: 20px;
}

.treaty .t1 {
    margin-bottom: 39px;
}

.treaty .t2 {
    margin-bottom: 39px;
}

.treaty .t3 {

}

.treaty .more {
    display: block;
    float: right;
    background: url("../image/15.png") no-repeat left top 7px;
    padding-left: 17px;
    cursor: default;
}

.app-form {
    display: block;
    float: right;
    /*width: 640px;*/
}

.info {
    display: block;
    line-height: 40px;
    width: 293px;
    height: 40px;
    background: #ededee;
    font-size: 12px;
    padding-left: 17px;
    margin-left: 18px;
    float: left;
    color: #7d7d7d;
}

.app-form input {
    margin-left: 5px;
    font-size: 12px;
    border: none;
    background: transparent;
}

.row {
    margin-bottom: 14px;
}

.row::after {
    clear: left;
    content: ".";
    height: 0;
    display: block;
}

input:focus {
    outline: none;
}

.app-form textarea {
    resize: none;
    border: none;
    background: transparent;
}

.app-form textarea {
    display: block;;
    outline: none;
}

.app-form .pa {
    font-size: 12px;
    height: 105px;
    margin-left: 18px;
    width: 623px;
    background: #ededee;
    padding: 5px 0 10px 17px;
    color: #7d7d7d;
}

.app-form button {
    width: 640px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    background: #ededee;
    margin-left: 18px;
    margin-top: 15px;
}

footer {
    min-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background: #32353e;
    color: #fff;
}

footer .connect {
    padding-top: 90px;
}

.connect {

    text-align: center;
}

.connect h2 {
    font-size: 21px;
    font-weight: normal;
    font-family: SimHei;
    margin-bottom: 12px;
}

.connect p {
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
}

.email {
    margin-top: 28px;
    text-align: center;
}

.email input {
    width: 420px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

.email button {
    height: 40px;
    width: 80px;
    text-align: center;
    border: none;
    background: #686166;
    color: #ffffff;
}

.link {
    margin: 0 auto;
    text-align: center;
    margin-top: 34px;
}

.link a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.l1 {
    background: url("../image/l1.png") no-repeat;
}

.l2 {
    background: url("../image/l2.png") no-repeat;
}

.l3 {
    background: url("../image/l3.png") no-repeat;
}

.l4 {
    background: url("../image/l4.png") no-repeat;
}

.bottom {
    width: 1280px;
    height: 56px;
    margin: 0 auto;
}

.copyright {
    float: left;;
    margin-left: 100px;
    font-size: 12px;
    margin-top: 30px;
}

.back {
    float: right;
    margin-right: 40px;
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
}

.back a {
    color: #fff;
}
