body{
    background: #aaa;;
}
.column {
    position: relative;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin: 0 10px;
}
.column-item{
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
}
.img-container{
    width: 100%;

}
.img-container img{
    width: 100%;
}
.detect{
    width: 220px;
    position: relative;
    display: inline-block;
}