*{
    margin: 0;
    padding: 0;
}
.puzzle {
    position: relative;
    width: 500px;
    height: 300px;
}
.img-container{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition: all 0.5s;
}
.puzzleO1 .puzzle-1{
    width: 100%;
    height: 100%;
}
.puzzleO2 .puzzle-1{
    clip-path: polygon(0 0, 66.6% 0,33.3% 100%,0 100%);
    -webkit-clip-path:polygon(0 0, 66.6% 0,33.3% 100%,0 100%);

    shape-outside: polygon(0 0, 66.6% 0,33.3% 100%,0 100%);
    -webkit-shape-outside: polygon(0 0, 66.6% 0,33.3% 100%,0 100%);
}
.puzzleO2 .puzzle-2{
    clip-path: polygon(66.6% 0,100% 0,100% 100%,33.3% 100%);
    -webkit-clip-path:polygon(66.6% 0,100% 0,100% 100%,33.3% 100%);

    shape-outside: polygon(66.6% 0,100% 0,100% 100%,33.3% 100%);
    -webkit-shape-outside: polygon(66.6% 0,100% 0,100% 100%,33.3% 100%);
}
/*width 由JS计算*/
.puzzleO3 .puzzle-1{
    height: 100%;
}
.puzzleO3 .puzzle-2{
    height: 50%;
}
.puzzleO3 .puzzle-3{
    height: 50%;
    transform: translateY(100%);
}

.puzzleO4 .puzzle-1{
    width: 50%;
    height: 50%;
    transform: translate(0,0);
}
.puzzleO4 .puzzle-2{
    width: 50%;
    height: 50%;
    transform: translate(100%,0);
}
.puzzleO4 .puzzle-3{
    width: 50%;
    height: 50%;
    transform: translate(100%,100%);
}
.puzzleO4 .puzzle-4{
    width: 50%;
    height: 50%;
    transform: translate(0,100%);
}

.puzzleO5 .puzzle-1{
    width: 66.7%;
    height: 66.7%;

}
.puzzleO5 .puzzle-2{
    width: 33.3%;
    transform: translate(200%,0);
}
.puzzleO5 .puzzle-3{
    width: 33.3%;
    height: 33.3%;
    transform: translate(0,200%);
}
.puzzleO5 .puzzle-4{
    width: 33.3%;
    height: 33.3%;
    transform: translate(100%,200%);
}
.puzzleO5 .puzzle-5{
    width: 33.3%;
    /*transform: translate(200%,166px);*/
}

.puzzleO6 .puzzle-1{
    width: 66.7%;
    height: 66.7%;

}
.puzzleO6 .puzzle-2{
    width: 33.3%;
    height: 33.3%;
    transform: translate(200%,0);
}
.puzzleO6 .puzzle-3{
    width: 33.3%;
    height: 33.3%;
    transform: translate(0,200%);
}
.puzzleO6 .puzzle-4{
    width: 33.3%;
    height: 33.3%;
    transform: translate(100%,200%);
}
.puzzleO6 .puzzle-5{
    width: 33.3%;
    height: 33.3%;
    transform: translate(200%,100%);
}
.puzzleO6 .puzzle-6{
    width: 33.3%;
    height: 33.3%;
    transform: translate(200%,200%);
}

