*{margin : 0; padding:0;}
body{text-align : center; box-sizing: border-box;}
.form-horizontal{margin-top : 20px; font-size : 30px; line-height : 30px;}
.details {
    position : relative;
}
div[class $="Div"]{
    /*position : absolute;*/
    /*left : 40%;*/
    margin-bottom : 20px;
}
.form-control,select[class $="Select"]{
    height : 40px;
    font-size : 20px;
    line-height : 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border  : 1px solid #888888;
    width : 400px;
}
.form-control[type = "radio"]{
    width : 20px;
}
.inputLabel,.selectLabel{
    font-size : 30px;
    vertical-align: middle;
}
.radiosLabel{
    vertical-align: super;

}
.companyDiv input{
    width : 812px;
}