
*{
    margin: 0;
    padding:0;
}
#container{
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 320px){
    .xs{
        height: 100%;
        width: 100%;
    }
}
@media (min-width:775px) {
    .md{
        width: 480px;
        height: 600px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}