.container{
    width : 300px;
    margin: 0 auto;
}
.queue{
    margin : 10px 0;
}
.node{
    width  : 50px;
    display : inline-block;
    background-color : #ff0000;
    text-align : center;
    line-height : 25px;
    font-size :25px;
    margin-right: 5px;
    margin-bottom :5px;
}
button{
    border: none;
    background-color : #d8bfd8;
    color : #ffffff;
    outline: none;
    cursor: pointer;
}
.form-control{
    background-color: #d3d3d3;
    margin-bottom: 10px;
    width : 256px;
}
.form-control textarea,.form-control input{
    border:none;
    background-color: transparent;
    resize : none;
    outline: none;
}
.btn-grounp button{
    margin-right :8px;
}